<!-- STORE -->
<div id="store" class="col-md-9">
    <!-- store top filter -->
    <div class="store-filter clearfix">
        <div class="store-sort">
            <!-- <label>
                Sort By:
                <select class="input-select">
                    <option value="0">Popular</option>
                    <option value="1">Position</option>
                </select>
            </label> -->

            <label>
                Show:
                <select class="input-select" [value]="perPage" (change)="emitChangePerPage($event.target.value)">
                    <option value="9">9</option>
                    <option value="18">18</option>
                    <option value="27">27</option>
                    <option value="54">54</option>
                </select>
            </label>
        </div>
        <ul class="store-grid">
            <li class="active"><i class="fa fa-th"></i></li>
            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
        </ul>
    </div>
    <!-- /store top filter -->

    <!-- store products -->
    <div class="row">
        <app-product *ngFor="let product of products" [product]="product"></app-product>
    </div>
    <!-- /store products -->

    <!-- store bottom filter -->
    <div class="store-filter clearfix">
        <span class="store-qty">Showing {{ getCurrentItemsNumber() }}-{{ productsTotal }} products</span>
        <ul class="store-pagination">
            <li [class.active]="page == selectedPage" *counter="let page of pages" (click)="emitChangePage(page)">{{page}}</li>
            <!-- <li><a href="#"><i class="fa fa-angle-right"></i></a></li> -->
        </ul>
    </div>
    <!-- /store bottom filter -->
</div>
<!-- /STORE -->